body {
    font: 1em sans-serif;
}

.topnav {
    position: absolute;
    top :0px;
    left: 0px;
    width: 100%;
    background-color: whitesmoke;
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    opacity: 100%;
}

.topnav a:hover {
    opacity: 80%;
}

.aboutMeNav, .aboutMeBlock, .aboutMeBlock a {
    background-color: #612666;
    color: #fff;
}

.mesProjetsNav, .mesProjetsBlock ,.mesProjetsBlock a {
    background-color: #9FC2CC;
    color: #000;
}

.chroniqueNav, .chroniqueBlock, .chroniqueBlock a {
    background-color: #F1ECCE;
    color: #000;
}

.block {
    height: 85vh;
    box-sizing: border-box;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.projet-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 3vh;
}

.projet-image {
    height: 18vh;
    width: auto;
}

.projet-description {
    padding-left: 3vw;
}

.ascii-train-animation {
    position: fixed;
    width: 100vw;
    height: 20vh;
    bottom: 1vh;
    overflow-x: hidden;
}

.ascii-train {
    position: absolute;
    bottom: 0;
     zoom: 8%;
    font-family: Courier, serif;
     color: black;
     font-size:8pt;
     font-weight: bold;
}

.ascii-station {
    position: absolute;
    color: black;
    zoom: 7%;
    left: 47%;
    bottom: 0;
}

.whiteText {
    color: #fff;
}

/* Responsive layout - small screen */
@media screen and (max-width: 900px) {
    /* TODO */
}

/* Responsive layout - very small screen */
@media screen and (max-width: 600px) {
    /* TODO */
}