body {
    font: 1em sans-serif;
}

.topnav {
    position: absolute;
    top :0px;
    left: 0px;
    width: 100%;
    background-color: whitesmoke;
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    opacity: 100%;
}

.topnav a:hover {
    opacity: 80%;
}

.topnav a.active {
    background-color: purple;
}

.aboutMeNav, .aboutMeBlock {
    background-color: #612666;
    color: #fff;
}

.mesProjetsNav, .mesProjetsBlock {
    background-color: #A1A6B4;
    color: #000;
}

.chroniqueNav, .chroniqueBlock {
    background-color: #94C5CC;
    color: #000;
}

.ascii-train-animation {
    position: absolute;
    width: 98%;
    height: 20%;
    bottom: 5px;
    overflow-x: hidden;
}

.ascii-train {
    position: absolute;
    bottom: 0px;
     zoom: 8%;
     font-family: Courier;
     color: black;
     font-size:8pt;
     font-weight: bold;
}

.ascii-station {
    position: absolute;
    color: black;
    zoom: 7%;
    left: 47%;
    bottom: 0px;
}

.ascii-train-white {
    position: absolute;
    bottom: 0px;
     zoom: 8%;
     font-family: Courier;
     color: white;
     font-size:8pt;
     font-weight: bold;
}

.ascii-station-white {
    position: absolute;
    color: white;
    zoom: 7%;
    left: 47%;
    bottom: 0px;
}