body {
    overflow-x: hidden;
    font: 1em sans-serif;
    margin : 0;
}

h1 {
    text-align: center;
}

p, .projet-block {
    padding-left: 1vw;
}

.aboutMeNav, .aboutMeBlock, .aboutMeBlock a {
    background-color: #612666;
    color: #fff;
}

.mesProjetsNav, .mesProjetsBlock ,.mesProjetsBlock a {
    background-color: #9F86C0;
    color: #000;
}

.chroniqueNav, .chroniqueBlock, .chroniqueBlock a {
    background-color: #F7EDF0;
    color: #000;
}

.block {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    float: left;
}

.block > div {
    float: left;
    width: 100%;
}

.projet-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.projet-image {
    height: 18vh;
    width: auto;
}

.projet-description {
    padding-left: 3vw;
}

.projet-description > p {
    padding-left: 0;
}

.ascii-train-animation {
    position: relative;
    width: 100vw;
    height: 12vh;
    top: 0;
    overflow-x: hidden;
}

.ascii-train {
    position: absolute;
    bottom: 0;
     zoom: 8%;
    font-family: Courier, serif;
     color: white;
     font-size:8pt;
     font-weight: bold;
}

.ascii-station {
    position: absolute;
    color: white;
    zoom: 7%;
    left: 47%;
    bottom: 0;
}

@-moz-document url-prefix() {
  .ascii-train {
    -moz-transform: scale(7%);
  }
}

.whiteText {
    color: #fff;
}

/* Responsive layout - small screen */
@media screen and (max-width: 900px) {
    /* TODO */
}

/* Responsive layout - very small screen */
@media screen and (max-width: 600px) {
    /* TODO */
}
