@font-face {
    font-family: "Pixelify Sans";
    src: url("../fonts/PixelifySans-Regular.ttf");
}

body {
    margin: 0;
    background-color: #2FBDFF;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* parallax "viewport" */
  .parallax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  } 

  .background {
    position: absolute;
    width: 110%;
    background-size: cover;
    height: auto;
    top:0px;
  }

  .middle {
    position: absolute;
    width: 100%;
    height: auto;
    top:100vh;
    left: 7vw;
  }

  .foreground {
    position: absolute;
    width: 100%;
    height: auto;
    top:80vh;
    left: 10%;
  }

  .block-text {
    position: absolute;
    width: 80%;
    left: 55%;
    transform: translate(-50%, 0%);
    height: auto;
    top:60vh;

    background-color: #005d7187;
    font-size: 30px;
    z-index: 1;
  }

  .block-social-networks {
    position : absolute;
    right: 0px;
    padding: 1%;
  }

  .text {
    padding-left: 7vw;
    padding-right: 7vw;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2vw;
    color: #ffffff;
  }

b {
  color: #d1d1d1;
  font-weight: bold;
}

.centered-text {
  text-align: center;
}

a {
  color: #d1d1d1;
}

.bigger { 
  font-size: 2.5vw;
}