.ascii-train-animation {
    position: relative;
    width: 100vw;
    height: 12vh;
    top: 0;
    overflow-x: hidden;
}

.ascii-train {
    position: absolute;
    bottom: 0;
    zoom: 8%;
    font-family: Courier, serif;
    color: white;
    font-size:8pt;
    font-weight: bold;
}

.ascii-station {
    position: absolute;
    color: white;
    zoom: 7%;
    left: 47%;
    bottom: 0;
}