.oursagileProject, .nekoProject, .poseidonProject, .twitchdevProject, .skyaboveProject, .cloudwordsProject {
    border: 1px solid slategray;
    padding: 3em;
    border-radius: 1em;
}

.oursagileProject {
    grid-area: oursagile;
}

.nekoProject {
    grid-area: neko;
}

.poseidonProject {
    grid-area: poseidon;
}

.twitchdevProject {
    grid-area: twitchdev;
}

.skyaboveProject {
    grid-area: skyabove;
}

.cloudwordsProject {
    grid-area: cloudwords;
}

.projectsContainerGrid {
    padding: 2%;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr; /* fr=fraction */
    grid-template-areas:
    "oursagile  neko     poseidon"
    "twitchdev  skyabove cloudwords";
    background-color: #fff;
    color: #444;
}

.projectsContainerGrid a {
    color: #000249;
}

.logoImg {
    display: block;
    margin: 1em auto 0;
    height: 14%;
    width: auto;
}

h2 {
    text-align: center;
}
