@font-face {
    font-family: "Roboto Light";
    src: url("/fonts/font-Roboto/Roboto-Regular.ttf");
    format("ttf");
}
* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.projectLink {
    color: #000249;
}

.block {
    padding-top: 1em;
    width: 100vw;
}

.bluebg {
    background-color: #000249;
}

.whitebg {
    background-color: white;
}

.bluebg > * {
    color: white;
}

.navbar {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: currentColor;
}

.navbar > span {
    padding: 1em;
    font-size: 2em;
}

.projectsNav {
    color: #FF6936;
}

.firstBlockText {
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
}

.firstBlockTextContainer {
    padding: 20vh 0;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 4em;
    text-align: center;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 2em;
}

.logo {
    color:white;
    width: 2vw;
    height: auto;
    opacity: 30%;
}

.logo:hover {
    opacity: 95%;
}

.presentationContainer {
    display: flex;
    align-items: center;
    gap:10em;
    padding: 4em 20em 4em 20em;
}

.presentationContainer p {
    text-align: justify;
}

.photo {
    border-radius: 10em;
}

.contactContainer {
    display: flex;
    padding: 4em;
    justify-content: space-around;
    gap: 2em;
}

.contactTitle {
    padding-top: 0.4em;
}

.contactLogo {
    height: 30vh;
    aspect-ratio: 1;
}

.contactForm {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    padding: 0.5em;
}

.footer p {
    text-align: center;
}

.footer a {
    color: skyblue;
}
